body {
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    font-size: 11px;
}

a {
    color: #2B587A;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h4 {
    border-bottom: 1px solid #E8EBEE;
    color: #45688E;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 3px;
}

 table, th, td, tr {
    border: none;
    border-collapse: collapse;
}

.button_blue {
    background: none repeat scroll 0 0 #5D81A7;
    border: 1px solid #45688E;
}


.button_blue, .button_gray {    
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    position: relative;
    text-align: center;
}



.button_blue button, .button_gray button {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid;
    cursor: pointer;
    font-family: tahoma,verdana,arial,sans-serif,Lucida Sans;
    font-size: 11px;
    margin: 0;
    outline: medium none;
    overflow: visible;
    padding: 4px 14px;
    white-space: nowrap;
}

.button_blue button {
    background: url("/images/buttons/button_vk.png") repeat-x scroll 0 -16px #6181A6;
    border-color: #789ABF #5980A9 #5980A9;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #45688E;
}

.button_blue button:active {
    background: none repeat scroll 0 0 #5E80A5;
    border: 1px solid #5E80A5;
    position: relative;
}


.button_blue button:hover {
    background-position: 0 -8px;
}

.button_gray {
    background: none repeat scroll 0 0 #E0E0E0;
    border: 1px solid #B3B3B3;
}

.button_gray button:active {
    background: none repeat scroll 0 0 #DCDCDC;
    border: 1px solid #DCDCDC;
    position: relative;
}
.button_gray button {
    background: url("/images/buttons/button_vk.png") repeat-x scroll 0 -54px #DDDDDD;
    border-color: #FFFFFF #E7E7E7 #E5E5E5;
    color: #444444;
    text-shadow: 0 1px 0 #FFFFFF;
}
.button_gray button:hover {
    background-position: 0 -46px;
}

.feed_tab, .feed_tab_selected, .feed_tab_over {
    cursor: pointer;
    padding: 3px 0 2px 5px;
}
.feed_tab2 {
    padding: 3px 6px 4px;
}
.feed_tab:hover .feed_tab2 {
    background-color: #E1E7ED;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.feed_tab_selected .feed_tab2 {
    background-color: #597DA3;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.feed_tab3 {
    color: #45688E;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 5px;
}
.feed_tab3_nav {
    padding-right: 2px;
}
.feed_tab_selected .feed_tab3 {
    color: #FFFFFF;
}

.queen {
    padding: 10px 10px 0;
}

.narrow_column {
    padding-bottom: 10px;
    width: 200px;
}
.fl_l {
    float: left;
}

.wide_column {
    padding-bottom: 10px;
    width: 397px;
}
.fl_r {
    float: right;
}

#header_wrap1 {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #F3F3F3;
    border-style: solid;
    border-width: 0 0;
}
#header {
    background: none repeat scroll 0 0 #F7F7F7;
    border-color: #D9E0E7;
    border-style: solid;
    border-width: 0px 0px 1px 0px;

    color: #000000;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 10px;
    position: relative;
}
#header h1 {
    color: #333333;
    font-size: 11px;
    margin: 0;
    overflow: hidden;
}
#header b {
    color: #AAB7C5;
}

.queen_list {
    width: 100%;
}

.queen_list td {
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
    padding: 10px 0;
}