.rating_list_wrapper {
    padding: 5px 15px;
    min-height: 400px;
}

.rating_list {
    width: 100%;
}

.filter {
    float: right;
}

.list_filter {
    position: relative;
    border: 0px solid #D9E0E7;
    border-bottom-width: 1px;
    overflow: hidden;
    padding: 10px;
}

.rating_list td.position {
    font-weight: bold;
    font-size: 24px; /*color: #5F7D9D;*/
    width: 60px;
    border: 0px solid #D9E0E7;
    border-width: 0 1px 1px 0;
}

.rating_list td.position div {
    margin: auto;
    width: 40px;
}

.rating_list td.rating {
    font-weight: bold;
    font-size: 24px;
    color: #5F7D9D;
    padding: 0 0 0 10px !important;
    width: 60px;
}

.rating_list td.photo {
    width: 100px;
}

.position_1, .position_1 img {
    width: 100px;
}

.position_1 {
    margin: 0 auto;
    display: block
}

.position_2, .position_2 img {
    width: 85px;
}

.position_2 {
    margin: 0 auto;
    display: block;
}

.position_3, .position_3 img {
    width: 65px;
}

.position_3 {
    margin: 0 auto;
    display: block;
}

.rating_list td {
    vertical-align: top;
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 0;
}

.rating_list td.name {
    padding-left: 10px;
}

.rating_list td.name a {
    display: block;
}

.rating_list td.name a.name {
    font-weight: bold;
}

.rating_list td.name span.achive {
    color: #5F7D9D;
    font-size: 20px;
}

.rating_list td.message img {
    padding-top: 8px;
    width: 45px;
    height: 45px;
}

.rating_list td.message {
    padding-right: 6px;
    padding-left: 10px;
    min-width: 250px; /*width: 220px;*/
}

.rating_list td.message div.vote {
    display: inline-block;
    float: right;
    padding-right: 25px;
    padding-top: 15px;
}

.rating_list td.message div.text {
    line-height: 130%;
    word-wrap: break-word;
    padding-top: 10px;
    clear: both;
}

.rating_list .actions {
    width: 72px;
    float: right;
}

.rating_list .actions div {
    margin-top: 3px;
}

.rating_list .actions button {
    width: 70px;
}

/** search*/

.input_back_wrap {
    cursor: text;
    position: relative;
    z-index: 90;
}

.no_select {
    -moz-user-select: none;
}

.input_back {
    color: #777777;
    position: absolute;
    z-index: 90;
}

.input_back_content {
    line-height: normal;
    padding: 0 2px;
    white-space: nowrap;
}

#search_query_wrap.wide #search_query {
    width: 485px;
}

#search_query,#isearch_query {
    background: url("http://vk.com/images/magglass.png") no-repeat scroll 5px 6px #FFFFFF;
    outline: medium none;
    padding: 5px 5px 5px 20px;
    width: 505px;
}

input.text, input.search, textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0CAD5;
    font-family: tahoma, tahoma, verdana, arial, sans-serif, Lucida Sans;
    font-size: 11px;
    margin: 0;
    padding: 3px;
}

.results_container {
    position: absolute;
    z-index: 100;
}

.result_list {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ADADAD;
    border-style: solid;
    border-width: 1px 0 0;
    left: 0;
    margin: -1px 0 0;
    opacity: 0.95;
    overflow-y: hidden;
    position: absolute;
    z-index: 100;
}

.result_list_shadow {
    border: 0 none;
    display: none;
    height: 2px;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

.result_list ul {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 0;
    position: relative;
}

.result_list_shadow .shadow1, .result_list_shadow .shadow2 {
    background-color: #000000;
    height: 1px;
    opacity: 0.12;
    overflow: hidden;
}

#search_query_wrap.loading #search_query_progress, #search_query_wrap #search_query_reset.shown {
    display: block;
}

#search_query_progress {
    background: url("http://vk.com/images/upload.gif") no-repeat scroll center center transparent;
    height: 23px;
    margin-left: -41px;
    margin-top: 1px;
    position: relative;
    width: 32px;
    z-index: 95;
    display: none;
}

#search_query_reset, #isearch_query_reset {
    background: url("http://vk.com/images/icons/input_clear.gif") no-repeat scroll 7px 7px transparent;
    cursor: pointer;
    display: none;
    height: 13px;
    margin-left: -25px;
    opacity: 0.6;
    padding: 5px;
    position: relative;
    width: 8px;
    z-index: 100;
}

#isearch_query_reset {
margin-top: 16px;
margin-left: -40px;
}

#search_query_reset:hover,#isearch_query_reset:hover {
    opacity:1;
}

#search_content #results {
    padding: 5px 15px;
}
.search_table td.results, .search_results td.results {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #DAE2E8;
    padding: 0 10px 10px;
}
.search_results td.results, .search_results td.filters, .search_table td.results, .search_table td.filters {
    padding: 0;
    vertical-align: top;
}
#no_results {
    color: #777777;
    font-size: 13px;
    margin: 10px 0;
    padding: 100px 0;
    text-align: center;
}