.main_panel {
    border-left: 1px solid #D9E1E7;    
    width: 468px;
}
.side_panel {
    background-color: #F7F7F7;
    padding: 10px;
    width: 136px;
}
.section_block{
color: #45688E;
 font-weight: bold;
 }
 
#rates{
 	   width: 100%;
 	   }
#rates td {
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
    padding: 10px 0;
}

 #rates .stats_photo{
 	width: 60px;
 	padding-left: 10px;
 }
 .stats_photo div {
    height: 50px;
    overflow: hidden;
}
#rates .stats_from{
width: 125px;
}
#rates .stats_from .name {
    overflow: hidden;
    width: 125px;
}
#rates .date {
    color: #777777;
    font-size: 9px;
}
#rates .minus {
	background: none repeat scroll 0 0 #F5F9FB;
}