.main_panel {
    border-left: 1px solid #D9E1E7;
    width: 438px;
}

.side_panel {
    background-color: #F7F7F7;
    padding: 10px;
    width: 166px;
}

.section_block {
    color: #45688E;
    font-weight: bold;
}

.top {
    vertical-align: top;
}

#rates .stats_photo {
    width: 60px;
    vertical-align: top;
    /*padding-left: 10px;*/
}

.stats_photo div {
    height: 50px;
    overflow: hidden;
}

#rates .stats_from {
    vertical-align: top;
    position: relative;
    /*width: 125px;*/
}

#rates .stats_from .name {
    float: left;
    /*width: 125px;*/
}

#rates .date {
    color: #777777;
    font-size: 9px;
    clear: both;
}
#rates .message{
    padding-top: 2px;
}
#rates .message div{
    width: 200px;
    overflow: hidden;
    vertical-align: top;
}
.rating_stats td{
    padding-left:5px;
}

#rates .minus {
    background: none repeat scroll 0 0 #F5F9FB;
}

.rate{
    position: absolute;
    right: 15px;
}
.rate_value,.rate_mark {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: #5F7D9D;
}
.rate_mark{
    height: 16px;
    width: 20px;
    display: inline-block;
}

.rate_value {
    display: inline-block;
    margin-left: -5px;
}

.voter_value {
    width: 150px;
}

.voter_stat{
padding-left: 10px !important;
}

.voter_stat .label {

    width: 60px;
    color: #808080;
    float: left;
    position: absolute;
}

.voter_stat .labeled {
    margin-bottom: 3px;
    padding-left: 60px;
    width: 60px;
}
.wide_column h4 div.name a {
    color: #AAB7C5;
    float: right;
}
.p_header_bottom span.fl_r span{
    font-weight:bold;
}