<h1>Listing queens</h1>

<ul class="rating_list">
  <% @queens.each_with_index do |queen, index| %>
      <li>
        <div class="position">
          <%= index + 1 %>
        </div>
        <div class="rating">
          <%= queen.rating %>
        </div>
        <div class="photo">
          <%= link_to(image_tag(queen.photo_medium_rec, :alt=>"#{queen.first_name} #{queen.last_name}"), queen) %>
        </div>
        <div class="name">
          <%= link_to "#{queen.first_name} #{queen.last_name}", queen %>
          <button class="button_01 button_green" type="submit">
            <span class="border_l">
                <span class="border_r">
                    <span class="btn_bg">+</span>
                </span>
            </span>
        </button>
          <button class="button_01 button_red" type="submit">
            <span class="border_l">
                <span class="border_r">
                    <span class="btn_bg">-</span>
                </span>
            </span>
        </button>
        </div>
      </li>
  <% end %>
</ul>