<div class="list_filter">
  <div class="clear_fix">
    <div class="search_isearch fl_l">
      <div class="search_input_cont">
        <div class="input_back_wrap no_select">
          <div class="input_back" style="margin: 1px; padding: 5px 5px 5px 20px;">
            <div class="input_back_content" style="color: rgb(119, 119, 119);">Начните вводить любое имя или фамилию
            </div>
          </div>
        </div>
        <input type="text" value="" id="search_query" class="text">
      </div>
    </div>
    <div class="fl_l" id="search_query_reset"></div>
    <div class="fl_l" id="search_query_progress"></div>
    <div class="fl_r search_submit">
      <div class="button_blue button_wide">
        <button id="search_submit">Поиск</button>
      </div>
    </div>
  </div>
</div>

<div class="rating_list_wrapper">
  <%= render :partial => "queens/load", :locals => {:queens => @queens} %>
</div>